<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Sobre
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Sobre</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-card-header>
      <img src="https://i.pinimg.com/736x/dc/c7/bb/dcc7bb14d445cee4446827a2dd41121e.jpg"/>
      <ion-card-title>Sobre.</ion-card-title>
      <ion-card-subtitle>App criado para você compartilhar aquela foto linda que está na sua galeria.</ion-card-subtitle>
      <ion-card-subtitle>"Todos somos modelos e fotógrafos" -- eu mesmo</ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <!-- <app-explore-container name="Tab 2 page"></app-explore-container> -->
</ion-content>